* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;

}

#snake-container {
    background-color: rgb(236, 77, 104);
    padding: 4vh 5vw;
    height: 100vh;
    width: 20rem;
    background: url(/images/jordan-mcqueen-u9tAl8WR3DI-unsplash3.jpg);
    background-size: cover;
    /* margin: 5vh auto; */
    /* justify-content: center; */
}



h1 {
    text-align: center;
    font-size: 2.7rem;
    color: white;
    margin-bottom: 1rem;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 0.3rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-shadow: -2px 0 rgb(236, 77, 104), 0 2px rgb(236, 77, 104), 2px 0 rgb(236, 77, 104), 0 -2px rgb(236, 77, 104);
}

.start {
    margin: 2rem 0;
    background-color: rgb(68, 199, 171);
    background-color: rgb(255, 185, 197);
    background: linear-gradient(54deg, rgb(255, 214, 220) 0%, rgb(250, 182, 194) 100%);
    border: 2px solid rgb(68, 86, 119);
    color: rgb(58, 73, 102);
    /* font-weight: bold; */
    padding: 0.2rem 0.4rem;
}

.score {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: -1px 0 rgb(118, 156, 153), 0 1px rgb(118, 156, 153), 1px 0 rgb(118, 156, 153), 0 -1px rgb(118, 156, 153);
}

.grid {
    width: 220px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 2rem auto;
    border: 0.25rem solid rgb(68, 86, 119);
    background: rgb(114, 208, 231);
    background: linear-gradient(54deg, rgb(38, 184, 189) 0%, rgb(114, 208, 231) 100%);
}

.grid div {
    width: 20px;
    height: 20px;
}

#snake-direction-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
}

#snake-direction-buttons button {
    background-color: rgb(95, 212, 187);
    background: linear-gradient(0deg, rgb(98, 233, 204) 0%, rgb(95, 212, 187) 100%);

    border: 2px solid rgb(68, 86, 119);
    color: rgb(58, 73, 102);
    padding: 0.2rem 0.4rem;
    width: 4rem;
}

.btn-up-down {
    /* margin-left: 2.2rem; */
    margin-bottom: 0.5rem;
}

.btn-left-right {
    margin-bottom: 0.5rem;
}

.btn-left {
    margin-right: 0.2rem;
}

.btn-right {
    margin-left: 0.2rem;
}

.snake {
    background-color: rgb(2, 57, 109);
}

.apple {
    background-color: purple;
    clip-path: polygon(52% 0, 42% 27%, 76% 12%, 100% 48%, 80% 90%, 34% 99%, 6% 74%, 3% 33%, 34% 29%, 39% 0);

}