* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;

}

#snake-container {
    background-color: rgb(236, 77, 104);
    padding: 5vh 5vw;
    height: 100vh;
    width: 20rem;
    /* margin: 5vh auto; */
    /* justify-content: center; */
}



h1 {
    text-align: center;
}

.start {
    margin: 2rem 0;
    background-color: rgb(68, 199, 171);
    border: 2px solid black;
    color: black;
    padding: 0.2rem 0.4rem;
}

.score {
    margin-bottom: 1rem;
    font-weight: bold;

}

.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-style: solid;
    background-color: rgb(96, 173, 33);
}

.grid div {
    width: 20px;
    height: 20px;
}

#snake-direction-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
}

#snake-direction-buttons button {
    background-color: rgb(68, 199, 171);
    border: 2px solid black;
    color: black;
    padding: 0.2rem 0.4rem;
    width: 4rem;
}

.btn-up-down {
    /* margin-left: 2.2rem; */
    margin-bottom: 0.2rem;
}

.btn-left-right {
    margin-bottom: 0.2rem;
}

.snake {
    background-color: rgb(59, 59, 134);
}

.apple {
    background-color: purple;

    /* clip-path: polygon(52% 0, 42% 27%, 76% 12%, 100% 48%, 80% 90%, 34% 99%, 6% 74%, 3% 33%, 38% 29%, 43% 1%); */
    clip-path: polygon(52% 0, 42% 27%, 76% 12%, 100% 48%, 80% 90%, 34% 99%, 6% 74%, 3% 33%, 34% 29%, 39% 0);

}